[submodule "src/resonance/sovariel"]
	path = src/resonance/sovariel
	url = https://github.com/AgapeIntelligence/Sovariel.git
[submodule "src/src/synchronicity/mood_os"]
	path = src/src/synchronicity/mood_os
	url = https://github.com/AgapeIntelligence/MoodOS.git
[submodule "src/src/cognition/uniphi_os"]
	path = src/src/cognition/uniphi_os
	url = https://github.com/AgapeIntelligence/UniPhiOS.git
[submodule "src/src/cognition/uniphi_agi"]
	path = src/src/cognition/uniphi_agi
	url = https://github.com/AgapeIntelligence/UniPhiAGI.git
