[submodule "src/src/synchronicity/mood_os"]
	path = src/src/synchronicity/mood_os
	url = https://github.com/AgapeIntelligence/MoodOS.git
[submodule "src/src/cognition/uniphi_os"]
	path = src/src/cognition/uniphi_os
	url = https://github.com/AgapeIntelligence/UniPhiOS.git
[submodule "src/src/cognition/uniphi_agi"]
	path = src/src/cognition/uniphi_agi
	url = https://github.com/AgapeIntelligence/UniPhiAGI.git
[submodule "src/src/planetary/dyson_swarm"]
	path = src/src/planetary/dyson_swarm
	url = https://github.com/AgapeIntelligence/Dyson-swarm-calculator.git
[submodule "src/src/resonance/dodecagonal"]
	path = src/src/resonance/dodecagonal
	url = https://github.com/AgapeIntelligence/dodecagonal-golden-interference.git
[submodule "src/src/quantum/quantum_orchestrated"]
	path = src/src/quantum/quantum_orchestrated
	url = https://github.com/AgapeIntelligence/Quantum-Orchestrated-Consciousness-.git
[submodule "src/src/quantum/orch_or_ghost"]
	path = src/src/quantum/orch_or_ghost
	url = https://github.com/AgapeIntelligence/orch_or_ghost_repro.git
[submodule "src/src/planetary/precision_climate"]
	path = src/src/planetary/precision_climate
	url = https://github.com/AgapeIntelligence/PrecisionClimateRobot.git
[submodule "src/src/resonance/resonant_state"]
	path = src/src/resonance/resonant_state
	url = https://github.com/AgapeIntelligence/Resonant-State-Core.git
[submodule "src/src/quantum/arc_research"]
	path = src/src/quantum/arc_research
	url = https://github.com/AgapeIntelligence/arc-research.git
[submodule "src/src/synchronicity/agape_dash"]
	path = src/src/synchronicity/agape_dash
	url = https://github.com/AgapeIntelligence/AgapeIntelligenceDash.git
